{% extends 'base.html' %}
{% block body_block %}
<h1>Activity Update</h1>
<form class="" method="post">
  <p>{{form.as_p}}</p>
  {%csrf_token%}
  <button type="submit">Create</button>
</form>
{% endblock %}
