<div class="form-group row">
  {% extends 'base.html' %}
  {% block body_block %}
  <title>Create Activity</title>
<form method="post">
{%if not form.instance.pk%}
  <h1>Submit An Activity</h1>
  {% csrf_token %}

  {%else%}
  <h1>Update Your Activity</h1>
  {%endif%}

  {% for field in form %}
    {%if not request.user.is_authenticated%}
      Log in or register to be able to save your submissions and keep them private
    {%else%}
      {{ field.label_tag }} {{field}}
      {{field.errors}}
    {%endif%}
  {% endfor %}
  <button type="submit">Create</button>
</form>

{%endblock%}
