{% extends 'base.html' %}
{% block body_block %}
<h1>Activity Overview</h1>
<p>Name: {{activity.name}}</p>
<p>Descripton: {{activity.description}}</p>
<p>Total Number Completed: {{activity_amount}}</p>
<a href="{% url 'TrackerApp:activity_update' activity.pk%}">Edit Activity</a>
{% endblock %}
