{% extends 'base.html' %}
{% block body_block %}
{%if user.is_authenticated%}
<h1>Coach {{user.get_username}}'s Profile<h1>

  <h2>Your Groups</h2>
  {% if user.groups %}
	 <div class="list-group">
	{%for group in user_groups%}
		<a href="{%url 'TrackerApp:group_detail' group.pk%}" class="list-group-item" >{{group.name}}</a>

	{%endfor%}
  </div>
   {% else %}
   <p> No groups </p>
   {% endif %}
  <h3><a class="btn btn-primary btn-lg" href="{%url 'TrackerApp:group_create' %}">Add New Groups</a></h3>
  {%else%}
  <h1> You are not logged in. Please log in to view this page.</h1>
 {%endif%}

{% endblock %}
