{% extends 'base.html' %}
{%block headblock%}
<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "Overview"
		},
		legend: {
			//interval: 5,
			maxWidth: 350,
			itemWidth: 120
		},
		data: [
		{
			type: "bar",
			//showInLegend: true,
		//	legendText: "{indexLabel}",
			dataPoints: [
				{ y: {{total_prac}}, label: "Practices" },
				{ y: {{total_acts}}, label: "Activities" },
				{y: {{total_members}}, label: "Members", }
			]
		}
		]
	});
	chart.render();
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{%endblock%}
{% block body_block %}

<h1>{{group.name}}</h1>
<p>{{group.description}}</p>
<a class="btn btn-primary btn-lg" href="{% url 'TrackerApp:group_update' group.pk%}">Edit Group Details</a>
<p></p>
<h2>Group Members</h2>
 <div class="list-group">
{%for member in group_members%}

	<a class="list-group-item" href="{% url 'TrackerApp:member_detail' member.pk%}">{{member.last_name}}, {{member.first_name}}</a>
{%endfor%}
</div>
<a class="btn btn-primary btn-lg" href="{% url 'TrackerApp:member_create' group.pk%}">Add Members</a>
<p></p>

<h2>Group Practice</h2>
<div  class="list-group">
	{%for practice in group_practices%}
		<a class="list-group-item" href="{% url 'TrackerApp:practice_detail' practice.pk%}">{{practice.name}}</a>
	{%endfor%}
</div>
<a class="btn btn-primary btn-lg" href="{% url 'TrackerApp:practice_create' group.pk%}">Add Practice</a>
<p></p>

<h2>Group Activities</h2>
 <div class="list-group">
{%for activity in group_activities%}
	<a class="list-group-item" href="{% url 'TrackerApp:activity_detail' activity.pk%}">{{activity.name}}</a>
{%endfor%}
</div>

<a  class="btn btn-primary btn-lg" href="{% url 'TrackerApp:activity_create'%}">Add Activity</a>
<p></p>
<p style="position: absolute; top: 75px; left: 500px;">Number of Members: {{total_members}}</p>
<p style="position: absolute; top: 95px; left: 500px;">Number of Practices: {{total_prac}}</p>
<p style="position: absolute; top: 115px; left: 500px;">Number of Activities: {{total_acts}}</p>

<div id="chartContainer" style="position: absolute; top: 50px; left: 700px; height: 200px; width: 40%;"></div>

{% endblock %}
