{% extends 'base.html' %}

{%block headblock%}

{%endblock%}


{% block body_block %}
<title>Create Group</title>
<h1>Group Create</h1>
<form  method="post">
  {{form.as_table}}
  {%csrf_token%}
  <button type="submit">Create</button>
</form>

{% endblock %}
