{% extends 'base.html' %}
{% block head_block %}

{% endblock %}
{% block body_block %}
<h1>Group Update</h1>
<form class="" method="post">
  <p>{{form.as_p}}</p>
  {%csrf_token%}
  <button type="submit">Update</button>
</form>



{% endblock %}
