{% extends 'base.html' %}

{% block body_block %}

  <div class="jumbotron">
    <h1>Training Tracker</h1>
    <p>Training Tracker is the best way to keep track of your organization's members and their routines.</p>
	<div class="row">
		{%if user.is_authenticated%}
		<div class="col-lg-2 col-md-6 col-sm-6">
            <p><a class="btn btn-primary btn-lg" href="{% url 'profile'%}" role="button">View Your Profile</a> </p>
          </div>
		{%else%}
          <div class="col-lg-2 col-lg-offset-4 col-md-offset-4 col-md-2 col-sm-offset-3 col-sm-3 col-xs-offset-3 col-xs-3">
            <p><a class="btn btn-success btn-lg" href="{% url 'signup'%}" role="button">Get Started</a> </p>
          </div>
		{%endif%}
		  
    </div>
</div>
{%if user.is_authenticated %}

{% else%}
<small> Already have an account? <a href="{%url 'login'%}"> Log In here.</a>
{%endif%} 
<div class="page-header">
  <h1>About Us</h1>
  Training Tracker offers a way to keep track of your organization's members. When you sign up, you can create groups for the organizations you manage, add members to the groups, define group activities and log statistics about your members and the activities they participate in.
</div>
</div>
{% endblock %}

