{% extends 'base.html' %}
{% block body_block %}
<h1>Member Update</h1>
<form class="" method="post">
  <p>{{form.as_p}}</p>
  {%csrf_token%}
  <button type="submit">Update</button>
</form>

{% endblock %}
