{% extends 'base.html' %}

{% block body_block %}
  <h1>Create A New Member</h1>
  <form method="post">
      {{ form.as_p }}
      {%csrf_token%}
      <input type="hidden" name="slug" value="{{instance.slug}}">
    <button type="submit">Create!</button>
  </form>
{% endblock %}
