{% extends 'base.html' %}
{%block headblock%}
<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{%for key,group in Group_Stats.items%}
<script>

window.onload = function () {

var barchart{{key}} = new CanvasJS.Chart("chartContainer{{key}}", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title:{
		text: " {{member.first_name}}'s {{group.name}} Activity History"
	},
	axisY: {
		title: "Repititions"
	},
	data: [{
		type: "column",
		showInLegend: true,
		legendMarkerColor: "grey",
		dataPoints: [
			{%for key,activity_sums in group.items%}
				{%for key, sum in activity_sums.items%}
					{ y:{{sum.total}} , label: "{{sum.name}}" },
				{%endfor%}
			{%endfor%}
		]
	}]
});
	var piechart{{key}} = new CanvasJS.Chart("attendance{{key}}",
	{
		title:{
			text: "Attendance"
		},
		legend: {
			maxWidth: 350,
			itemWidth: 120
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
			dataPoints: [
				{ y: {{group.attendance}}, indexLabel: "Present" },
				{ y: {{group.total_practices}} - {{group.attendance}}, indexLabel: "Absent" }
			]
		}
		]
	});
	piechart{{key}}.render();
	barchart{{key}}.render();
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{%endfor%}
{%endblock%}
{% block body_block %}
<h1>Member Overview</h1>
<p>Name: {{member.last_name}}, {{member.first_name}} </p>
<p>Date of Birth: {{member.birth_date}}</p>

{%for key,group in Group_Stats.items%}
  <p>Group Name: {{group.name}}</p>
  {%for key,activity_sums in group.items%}
    {%for key, sum in activity_sums.items%}
      <p>{{sum.name}}:{{sum.total}}</p>
    {%endfor%}
  {%endfor%}
	<div id="chartContainer{{key}}" style="height: 370px; width: 100%;"></div>
	<div id="attendance{{key}}"  top: 50px; left: 500px; height: 400px; width: 70%;"></div>
{%endfor%}


<a href="{% url 'TrackerApp:member_update' member.pk%}">Edit Member</a>


{% endblock %}
