{% extends 'base.html' %}
{%block headblock%}
<script type="text/javascript">
window.onload = function () {
	var chart = new CanvasJS.Chart("chartContainer",
	{
		title:{
			text: "Attendance"
		},
		legend: {
			maxWidth: 350,
			itemWidth: 120
		},
		data: [
		{
			type: "pie",
			showInLegend: true,
			legendText: "{indexLabel}",
			dataPoints: [
				{ y: {{attendance_rate}}, indexLabel: "Present" },
				{ y: 100 - {{attendance_rate}}, indexLabel: "Absent" }
			]
		}
		]
	});
	chart.render();
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
{%endblock%}
{% block body_block %}
<h1>Practices Overview</h1>
<p>{{practice.name}}</p>
<p>{{practice.description}}</p>

<h4>Members Attended:</h4>
{%for member in practice.attendance.all%}
<p>{{member.last_name}},{{member.first_name}}</p>
{%endfor%}

<h4>Activites Performed:</h4>
{%for act_num in practice.activitynumber_set.all%}
<p>{{act_num.activity.name}}:{{act_num.amount}}</p>
{%endfor%}
<div id="chartContainer" style="position: absolute; top: 50px; left: 500px; height: 400px; width: 70%;"></div>
<a href="{% url 'TrackerApp:practice_update' practice.pk%}">Edit Practice</a>
<p style="position: absolute; top: 100px; left: 575px;">Attendance Rate: {{attendance_rate}} %</p>
{% endblock %}
