{% extends 'base.html' %}
{% block body_block %}
<h1>Practice Edit</h1>
<div>
<form class=""  method="post">
  <p>{{form.as_p}}</p>
  {%csrf_token%}
  <button type="submit">Update</button>
  </div>
</form>

{% endblock %}
