{% extends 'base.html' %}
{%block headblock%}
<script>
window.onload = function () {

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light2", // "light1", "light2", "dark1", "dark2"
	title:{
		text: "Group Activity History"
	},
	axisY: {
		title: "Repititions"
	},
	data: [{
		type: "column",
		showInLegend: true,
		legendMarkerColor: "grey",
		dataPoints: [
      {%for key,act_tot in activity_totals.items%}
			{ y:{{act_tot.total}} , label: "{{act_tot.name}}" },
      {%endfor%}
		]
	}]
});
chart.render();

}
</script>
{%endblock%}
{% block body_block %}
  <title>Create Practice</title>

  <h1>Practice History</h1>
  <div id="chartContainer" style="height: 370px; width: 100%;"></div>
  <script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

  <h1>Create New Practices</h1>
  <form method="post">
      {{ form.as_p }}
      {%csrf_token%}

      {%for activity in activities%}
        <p>{{activity.name}}: <input type="number" name="{{activity.pk}}" value=""></p>
      {%endfor%}

    <button type="submit">Create!</button>
  </form>

{% endblock %}
