<!DOCTYPE html>

{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8">
	
	 
    {% block headblock %} {% endblock %}



    <!-- Boot Strap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
    <!-- base html style sheet  -->
    <link rel="stylesheet" href="{% static "css/base.css" %}">


    <!-- Jquery library -->
    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="crossorigin="anonymous"></script>

    <!-- Bootstrap library -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Select2 Library -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
	<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>

	<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'index'%}">Training Tracker</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      {%if user.is_authenticated%}
	  <li class="nav-item">
		<a class="nav-link" href="#">Hello, {{ user.get_username }}</a>
	  </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile'%}">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout'%}">Logout</a>
      </li>
      {%else%}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login'%}">Login</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'signup'%}">Signup</a>
      </li>
      {%endif%}
    </ul>
  </div>
</nav>
  </head>

  <body>

    <div class="container" id="content">
      {% block body_block %}{% endblock %}
    </div>

    {% block javascript %} {% endblock %}




    <footer>

  </footer>
  </body>
 <!-- Format all the create/update forms -->
 	<script>
	$(document).ready(function(){
		$('#id_name').addClass('form-control');
		$('#id_description').addClass('form-control');
		$('#id_coaches').addClass('form-control');
		$("#id_coaches").select2({
			maximumSelectionLength: 200
		});
		$('#id_members').addClass('form-control');
		$("#id_members").select2({
			maximumSelectionLength: 200
		});
		//Members
		$('#id_first_name').addClass('form-control');
		$('#id_last_name').addClass('form-control');
		$('#id_birth_date').addClass('form-control');
		//Practices
		$('#id_date').addClass('form-control');
		$('#id_attendance').addClass('form-control');
		$("#id_attendance").select2({
			maximumSelectionLength: 200
		});
		$('#id_group').addClass('form-control');
		//Login/Signup
		$('#id_username').addClass('form-control');
		$('#id_email').addClass('form-control');
		$('#id_password').addClass('form-control');
		$('#id_password1').addClass('form-control');
		$('#id_password2').addClass('form-control');
	});
	</script>
</html>
