<!--Page displayed after creation of a user and before validation of email  -->
{% extends "base.html" %}
{% load staticfiles %}

{% block body_block%}
<div class="">
  <h4>Please confirm your email address to complete the registration</h4>
</div>
{% endblock %}
