{% extends 'base.html' %}
{% block body_block %}
  <h2>Login</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Login</button>
  </form>
  <p>Not a user?<a href="{%url 'signup'%}"> Register here.</a></p>
{% endblock %}
