{% extends "base.html" %}
{% load staticfiles %}
{% load recaptcha2 %}

{% block headblock %}
  {% recaptcha_init %}
{% endblock %}

{% block javascript %}
<script type="text/javascript">

  $(".js-example-basic-multiple").select2();
  $(".js-example-basic-single").select2();
</script>
{% endblock %}
{% load staticfiles %}

{% block body_block%}
<h1>Sign Up</h1>
<form method="post" class="form-horizontal">
  {% csrf_token %}

  {% for field in form %}

  <div class="form-group-row">
    {{ field.errors }}

    {{ field.label_tag }} {{ field }}
    <small class="text-muted">{{ field.help_text }}</small>
  </div>


  {% endfor %}
  <button type="submit">Sign up</button>
</form>
{% endblock %}
